@import '../../scss/layout';

.project {
  background-color: $bgColor;
  color: $secondLetterColor;
  min-height: 80vh;
  margin: 0 auto -10vh auto;
  padding:4% 2% 20% 2%;
  .project-card {
    max-width: 23rem;
    max-height: 30rem;
    color: $firstLetterColor;  
    .card-image {
      max-width: 400px;
      height: 200px;
    }
    .title {
      height: 100px;
      background-color: $secondColor;
      color: $secondLetterColor;
    }
    .technologies {
      height: 100px;
      background-color: $secondColor;
      color: $secondLetterColor;
    }
    .card-title {
      color: $firstLetterColor;
      font-size: 1rem;
    }
    .card-text{
      font-size: 0.9rem;
    }
    .button-area{
      background-color: $secondColor;
    
    .button {
      width: 5rem;
      background-color: $bgColor;     
      .card-link {
        font-size: 0.8rem;
        text-decoration: none;
        color: $thirdLetterColor;
      }
      .card-link:hover{
        color: aqua;
      }
    }
  }
  }
}

@media only screen and (max-width: 576px) {
 
}

@media only screen and (min-width: 576px) {

  
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {

}
