@import '../../scss/layout';

.project {
  color: $secondLetterColor;
  height: 100%;
  margin: 0 auto;
  #projecthead {
    text-align: center;
    color: $thirdLetterColor;
  }
  .project-card {
    width: 25rem;
    max-height:30rem;
    color: $firstLetterColor;
    margin: 1%;
    .card-image{
      max-width:400px;
      max-height: 200px;
    }
    .title {
      height: 140px;
    .card-title{
      color: $secondColor;
    }
  }
  .technologies{
height: 140px;
  }
    .button{
      background-color: $bgColor;
      .card-link{
        text-decoration: none;
        color: $thirdLetterColor;
      }
    }
  }
}



// .project-images {
//   height: 20em;
// }

// @media only screen and (max-width: 576px) {
//   .project-images {
//     height: 300px;
//   }
//   #projecthead {
//     font-size: 1.5rem;
//   }
//   .information {
//     height: 4rem;
//     font-size: 0.8rem;
//   }
// }

// @media only screen and (min-width: 576px) {
//   .project-images {
//     height: 450px;
//   }
//   #projecthead {
//     font-size: 1.6rem;
//   }
//   .information {
//     height: 4rem;
//     font-size: 1rem;
//   }
// }

// @media only screen and (min-width: 768px) {
//   .project-images {
//     height: 400px;
//   }
//   #projecthead {
//     font-size: 1.8rem;
//   }
//   .information {
//     height: 5rem;
//     font-size: 1rem;
//   }
// }

// @media only screen and (min-width: 992px) {
//   .project-images {
//     height: 500px;
//   }
//   #projecthead {
//     font-size: 2rem;
//   }
//   .information {
//     height: 7rem;
//     font-size: 1rem;
//   }
// }
