.project {

  color: rgb(255, 255, 255);
  
  background-color: rgb(7, 33, 51);
  height: 100vh;
}

#projecthead {
  text-align: center;
  color: rgb(253, 5, 129);
  font-size: 2rem;
 
}

.container-corousel{
  width: 70%;
  margin-left: 15%;
}

.project-images{
  height: 40rem;
 
}
