@import '../../../scss/layout';

.button{
  background-color: $bgColor;
  margin-left: 1rem;
.icon{
    border-radius: 50%;
    background-color: $firstColor;
  }
}

@media only screen and (max-width: 576px) {
  .icon{
    width:20px
  }
}

@media only screen and (min-width: 576px) {
  .icon{
    width:30px
  }
}

@media only screen and (min-width: 768px) {
  .icon{
    width:30px
  }
}

@media only screen and (min-width: 992px) {
  .icon{
    width:30px
  }
}