.skills {
  background-color: rgb(7, 33, 51);
  padding-bottom: 14%;
}

#skillshead {
  text-align: center;
  color: rgb(253, 5, 129);
  font-size: 2rem;
  padding-top: 4%;
}

.skills-icon {
  font-size: 150px;
  opacity: 1;
}

.skills-icon:hover {
  opacity: 0;
}

.html5 {
  color: orangered;
}

.css3 {
  color: blue;
}

.js {
  color: #ffcc33;
}

.react {
  color: aqua;
}

.sass {
  color: #d20df5;
}

.node {
  color: green;
}

@media only screen and (max-width: 576px) {
  .skills-icon {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 576px) {
  .skills-icon {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 768px) {
  .skills-icon {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 992px) {
  .skills-icon {
    font-size: 11rem;
  }
}
