@import '../../scss/layout';

.skills {
  height: 80vh;
  margin: 0 auto;
  .skills-container {
margin:5%;
    .skills-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7rem;
      opacity: 1;
      -webkit-animation: rotate-center 0.9s ease-in-out both;
      animation: rotate-center 0.9s ease-in-out both;
    }
    @-webkit-keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    @keyframes rotate-center {
      0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    

    .html5 {
      color: orangered;
    }
    .css3 {
      color: blue;
    }
    .js {
      color: #ffcc33;
    }
    .react {
      color: aqua;
    }
    .sass {
      color: #d20df5;
    }
    .node {
      color: green;
    }
    .mongodb {
      color: green;
    }
    .figma {
      color: rgb(255, 77, 255);
    }
  }
}

@media only screen and (max-width: 576px) {
  .skills-icon {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 576px) {
  .skills-icon {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 768px) {
  .skills-icon {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .skills-icon {
    font-size: 10rem;
  }
}
