 .about {
  background-color: rgb(7, 33, 51);
    border: solid 1px red;
    height: 100vh;
    padding-left: 15%;
     } 

  

  #abouthead {
    text-align: center;
    color: rgb(253, 5, 129);
    font-size: 2rem;
    margin: 5% 0;
 }