 .about {
  background-color: rgb(7, 33, 51);
    height: 100vh;
  
    color: white;
    } 

    #abouthead {
    text-align: center;
    color: rgb(253, 5, 129);
    font-size: 2rem;
    padding-top: 5%;    
    }

    .container-about{
      display: flex;
      position: relative;
      margin: 5%;
    }

 .about-text{
   margin: 5% 0 5% 15%;
   font-size: 1.5rem;
 }

 .about-fatih {
  float: left;
  margin:30% 0;
  animation: fatih  ease-in-out 0.5s infinite alternate;
  transform-origin: center -20px;
}

.about-fatih:hover {
  animation-play-state: paused;
}

.about-fatih Img {
  border: 5px solid #f80a0a;

 }

.about-fatih figcaption {
  font-size: 2rem;
  text-align: center;
}

.about-fatih:after{
  content: '';
  position: absolute;
  width: 20px; 
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px; 
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
       
.about-fatih:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}
        
@keyframes fatih {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}
