@import '../../scss/layout';

.contact {
  height: 80vh;
  margin: 0 auto;
  .contact-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 940px;
    .form-horizontal {
      max-width: 400px;
      font-weight: 400;
    }    
  }
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: $bgColor;
    color: #fff;
    letter-spacing: 1px;
  }
  .send-button {
    color:rgb(54, 109, 41);
    margin-top: 15px;
    height: 44px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  .alt-send-button {
    width: 400px;
    height: 44px;
    transition: all .2s ease-in-out;
    .send-text {
      display: block;
      margin-top: 8px;  
    }    
  }
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  .direct-contact-container {
    max-width: 400px;
  }
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
    color: $thirdLetterColor;
  }
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
}
 @media only screen and (max-width: 576px) {  
   .aboutme,
   .social_media p,
   .address,
   .email {
     font-size: 0.7rem;
   }
 }

 @media only screen and (min-width: 576px) {
   .aboutme,
   .social_media p,
   .address,
   .email {
     font-size: 0.8rem;
   }
 }

 @media only screen and (min-width: 768px) {
   .aboutme,
   .social_media p,
   .address,
   .email {
     font-size: 1rem;
   }
 }

 @media only screen and (min-width: 1200px) {
   .aboutme,
   .social_media p,
   .address,
   .email {
     font-size: 1.5rem;
   }}