.fixed-top{
  opacity: 0.8;
  background-color: rgb(7, 33, 51);
}

.container-navbar li {
  margin: 20% 0; 
 }

 .sos-med{
   float: right;
 }
 @media (max-width:920px) {
   .sos-med {
     display: none;
   }
 } 