.footer {
  background-color: rgb(7, 33, 51);
  width: 100%;

 }


#contacthead{
  text-align: center;
  color: rgb(253, 5, 129);
  font-size: 2rem;
  padding-top: 4%;  
  
}

.container_footer {
  display: flex;
 padding: 5% 0;
}

.communication {
  width: 50%;
  color: rgb(253, 5, 129);
  display:flex;
  align-items: center;
  }

.address {
  margin: 1%;
  font-size: 1rem;
  padding-top: 5%;
}
.phone {
  margin: 1%;
  font-size: 1rem;
}

.email {
  margin: 1%;
  font-size: 1rem;
}

.com-icon {
  margin: 1%;
  font-size: 1rem;
}

.email span {
  color: rgb(76, 165, 233);
  text-decoration: underline;
}

.social_media {
  width: 100%;
  color: rgb(253, 5, 129);
}

.aboutme {
  font-size: 1.2rem;
  text-align: center;
}

.aboutme p {
  font-size: 1rem;
  padding:0 2% 2% 2%;
  text-align: justify;
}

.container-sos-med {
  display: flex;
  justify-content: space-around;
}

.sos_med {
  font-size: 1.5rem;
  color: rgb(165, 115, 23);
}
.sos_med:hover{
  color:rgb(253, 5, 129);
 
}


.fatih {
  font-size: 0.8rem;
  color: rgb(253, 5, 129);
  display: flex;
  justify-content: center;
  padding:4% 0;
}

.copy {
  margin: 0 1%;
}

@media only screen and (max-width: 576px) {
  #contacthead{
    font-size: 1.5rem;
  }
   }
 
 @media only screen and (min-width: 576px) {
  #contacthead{
        font-size: 1.6rem;
      }
  }

@media only screen and (min-width: 768px) {
  #contacthead{
    font-size: 1.8rem;
}
}


@media only screen and (min-width: 992px) {
  #contacthead{
    font-size: 2rem;
}
}





