@import '../../scss/layout';

.footer {
  height: 10vh;
  margin: 0;
  padding: 0;
  opacity: 1;   
  .container-sos-med {
    display: flex;
    justify-content: center;
    a {
      margin: 0 2%;    
    .sos_med {
      color: $secondColor;
    }
    .sos_med:hover {
      color: $firstColor;
    }    
  }}
  .fatih {
    color: $secondColor;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    .copy {
      margin: 0 1%;
    }
    } 
}

@media only screen and (max-width: 576px) {
  .sos_med{
font-size: 0.7em
  }
  .fatih{
    font-size: 0.6em
      }
 }

@media only screen and (min-width: 576px) {
  .sos_med{
    font-size: 0.8em
      }
      .fatih{
        font-size: 0.7em
          }
     }

@media only screen and (min-width: 768px) {
  .sos_med{
    font-size: 0.9em
      }
      .fatih{
        font-size: 0.7em
          }
     }


@media only screen and (min-width: 992px) {
  .sos_med{
    font-size: 1em
      }
      .fatih{
        font-size: 0.8em
          }
     }
