@import './scss/layout';

.App{
  margin: 0;
  padding: 0;
  .particles-canvas {  
    background-color: $bgColor;
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    min-width:100vw
  }
  .tsparticles-canvas-el{
    min-height: 90vh;
  }  
}


