@import './scss/layout';

.App{
  margin: 0;
  padding: 0;
  .particles-canvas {  
    background-color: $bgColor;
    position: absolute;
    z-index: -1;
    min-height: 100vh;
    width:100vw;
    margin: 0 auto;
    padding: 0;
  }
  .tsparticles-canvas-el{
    min-height: 90vh;
    width: 100vh;
  }  
}


