$bgColor: rgb(0, 0, 0);
$borderColor: rgb(255, 255, 255);
$firstColor: rgb(179, 229, 252);
$secondColor: rgb(199, 168, 83);
//$thirdColor: rgb(255, 255, 255);

$firstLetterColor: rgb(0, 0, 0);
$secondLetterColor: rgb(250, 250, 250);
$thirdLetterColor: rgb(179, 229, 252);
