$bgColor: rgb(7, 33, 51);
// $borderColor: rgb(201, 194, 194);
// $firstColor: rgb(202, 55, 55);
// $secondColor: rgb(250, 133, 65);
// $thirdColor: rgb(255, 255, 255);

$firstLetterColor: rgb(0, 0, 0);
$secondLetterColor: rgb(250, 250, 250);
// $thirdLetterColor: rgb(216, 27, 27);