$bgColor: rgb(7, 33, 51);
$borderColor: rgb(255, 255, 255);
$firstColor: rgb(253, 5, 129);
$secondColor: rgb(148, 143, 143);
//$thirdColor: rgb(255, 255, 255);

$firstLetterColor: rgb(0, 0, 0);
$secondLetterColor: rgb(250, 250, 250);
$thirdLetterColor: rgb(253, 5, 129);
